---
layout: base.njk
---

<div class="page">
  <header class="container">
    <div class="mx-auto max-w-40 w-full mt-1 text-right t:text-left">
    <ul class="italic space-y-1 t:space-y-auto text-lg t:flex t:flex-row">
        <li class="flex-1"><a class="btn" href="https://rafaj.dev" rel="me">rafaj.dev</a></li>
        <li><a class="btn" href="https://github.com/danielstaleiny/daniel.rafaj.dev" target="_blank">source</a></li>
    </ul>
    </div>
  </header>
  <main>
    <section class="container">
      <div class="mx-auto max-w-40 w-full">
            {{ content | safe }}
      </div>
    </section>
  </main>
  {% include "partials/footer.njk" %}
</div>
