---
layout: cv.njk
title: Daniel Rafaj
description: Daniel Rafaj is software engineer who focuses on simple, performant and boring technology.
keywords: daniel, rafaj, cv, resume, portfolio
---
<div class="h-card">
    <h1 class="h1 mb-0">Daniel Rafaj</h1>

    <p class="text-h4">
      <span>Email: </span>
        <a class="u-email" href="mailto:hala-bala@tutanota.com">hala-bala@tutanota.com</a>
    </p>
    <p class="text-h4">
      <span>Github: </span>
        <a class="u-github" href="https://github.com/danielstaleiny/">github.com/danielstaleiny</a>
    </p>

    <span class="p-name hidden">Daniel Rafaj</span>
    <a class="p-org hidden" href="http://indsigt.design">indsigt.design</a>
    <img class="u-photo hidden" src="/_img/icon.png"/>
    <a class="u-url hidden" href="https://daniel.rafaj.dev">rafaj.dev</a>
    <div class="p-category hidden">technology</div>
</div>

<div class="mb-1">

  <h2 class="h2"><span id="work-exp"></span>+ years of work experience</h2>
  <p class="h4">My preferred technology</p>
  <p class="p text-lg mb-2">Purescript, Nix & NixOS, PostgREST, Vanilla Javascript, IndieWeb, Eleventy, PostgreSQL, SQLite, TailwindCSS </p>

    <ul class="mt-1 space-y-1">
        <li>
            <p class="text-lg font-bold">Fullstack developer - Backend, Frontend, DevOps & Maintenance</p>
            <p class="text-sm">NodeJS, PHP, Purescript, Nix, JAMstack, React, MySQL, PostgreSQL, AWS Lambda - serverless, DevOps, NextJS, Eleventy</p>
            <p class="text-lg"><a href="http://indsigt.design/">Indsigt design</a></p>
            <p class="text-sm mt-0.25 mb-0.25">From architecture to deployment, both prototypes and production products including maintenance of already deployed production websites and services.</p>
            <p class="text-xs">Mar 2018 - Present (<span id="indsigt-year">X</span> years & <span id="indsigt-month">X</span> months)</p>
        </li>

        <li>
            <p class="text-lg font-bold">Fullstack developer - Backend, Frontend, DevOps</p>
            <p class="text-sm">NodeJS, Elasticsearch, Python, Redis, MongoDB, ReactJS, AWS S3, AWS Lambda, serverless, Jest, ExpressJS, NextJS, UNIX Tools </p>
            <p class="text-sm"><a href="https://collageofficial.com">COLLAGE (We Own It ApS)</a></p>
            <p class="text-xs">Jan 2017 - November 2021 ( 4 years & 10 months)</p>
        </li>
        <script type="text/javascript">
            var d = new Date();
            document.getElementById("work-exp").innerHTML=d.getUTCFullYear() - 2016;
            document.getElementById("indsigt-year").innerHTML=d.getUTCFullYear() - 2018;
            document.getElementById("indsigt-month").innerHTML=d.getUTCMonth() - 2;
        </script>
        <li>
            <p class="text-lg font-bold">Web developer - Backend & Frontend developer</p>
            <p class="text-sm">NodeJS, Python, Loopback, PostgreSQL, Jade(Pug), Elasticsearch</p>
            <p class="text-sm"><a href="http://www.mearto.com/en/">Mearto</a></p>
            <p class="text-xs">Jun 2016 - Jan 2017 (8 months)</p>
        </li>

        <li>
            <p class="text-lg font-bold">Web developer - Backend & Frontend developer - Project based</p>
            <p class="text-sm">NodeJS, MongoDB, AngularJS, Loopback, Sass, HTML5, CSS3</p>
            <p class="text-sm"><a href="http://uxnova.dk/?lang=en">UX Nova</a></p>
            <p class="text-xs">Nov 2015 - Apr 2016 (6 months)</p>
        </li>

        <li>
            <p class="text-lg font-bold">Web developer - Backend & Frontend developer Internship</p>
            <p class="text-sm">Javascript, MongoDB, NodeJS, ExpressJS, AngularJS</p>
            <p class="text-sm"><a href="https://wiredelta.com/">Wiredelta</a></p>
            <p class="text-xs">Aug 2015 - Oct 2015 (3 months)</p>
        </li>
    </ul>


    <h2 class="h2">Education</h2>
    <ul class="space-y-1">
        <li>
            <p class="text-lg font-bold">Master of Science in Information studies</p>
            <p>Aalborg University</p>
            <p class="text-sm">2019 - 2021</p>
            <p class="text-sm">(R)</p>
        </li>

        <li>
            <p class="text-lg font-bold">Bachelor's degree in Software development</p>
            <p>Copenhagen School of Design & Technology</p>
            <p class="text-sm">2016 - 2017</p>
            <p class="text-sm">(Java, PHP, MySQL, SQL)</p>
        </li>

        <li>
            <p class="text-lg font-bold">Associate's Degree in Computer Science</p>
            <p>Business Academy Aarhus</p>
            <p class="text-sm">2013 - 2016</p>
            <p class="text-sm">(Java, C#, SWIFT)</p>
        </li>

        <li>
            <p class="text-lg font-bold">Electical and Electronics Engineering</p>
            <p>High school of Electronics</p>
            <p class="text-sm">2009 - 2013</p>
            <p class="text-sm">(C, Arduino, HTML, CSS )</p>
        </li>
    </ul>


    <h2 class="h2">Licenses & Certifications</h2>
    <ul class="space-y-0.5">
        <li>
            <p class="text-lg font-bold">Shaping with AngularJS</p>
            <p>Code School</p>
            <p class="text-sm">Issued 2015</p>
        </li>
        <li>
            <p class="text-lg font-bold">CCNA Exploration: Network Fundamentals</p>
            <p>CISCO</p>
            <p class="text-sm">Issued 2013</p>
        </li>
        <li>
            <p class="text-lg font-bold">Electrician § 21</p>
            <p>Ministry of Work - Slovakia</p>
            <p class="text-sm">Issued 2013</p>
        </li>

    </ul>

</div>
