---
layout: cv.njk
title: Daniel Rafaj
description: Daniel Rafaj is software engineer who focuses on simple, performant and boring technology.
keywords: daniel, rafaj, cv, resume, portfolio
---
<h1 class="h1">Daniel Rafaj</h1>

<div class="mb-2">
    <h2 class="h2">Work experience</h2>
    <ul class="mt-1 space-y-1">
        <li>
            <p class="text-lg font-bold">Fullstack developer - Backend, Frontend, DevOps & Maintance</p>
            <p class="text-sm">NodeJS, PHP, Purescript, JAMstack, React, MySQL, PostgreSQL, Lambda - serverless, DevOps, NextJS, Eleventy</p>
            <p class="text-sm"><a href="http://indsigt.design/">Indsigt design</a></p>
            <p class="text-xs">Mar 2018 - Present </p>
        </li>

        <li>
            <p class="text-lg font-bold">Fullstack developer - Backend, Frontend, DevOps</p>
            <p class="text-sm">NodeJS, Elasticsearch, Python, Redis, MongoDB, ReactJS, AWS S3, Lambda serverless, Jest, ExpressJS, NextJS, UNIX Tools </p>
            <p class="text-sm"><a href="https://collageofficial.com">COLLAGE (We Own It ApS)</a></p>
            <p class="text-xs">Jan 2017 - Present </p>
        </li>

        <li>
            <p class="text-lg font-bold">Web developer - Backend & Frontend developer</p>
            <p class="text-sm">NodeJS, Python, Loopback, PostgreSQL, Jade(Pug), Elasticsearch</p>
            <p class="text-sm"><a href="http://www.mearto.com/en/">Mearto</a></p>
            <p class="text-xs">Jun 2016 - Jan 2017 (8months)</p>
        </li>

        <li>
            <p class="text-lg font-bold">Web developer - Backend & Frontend developer - Project based</p>
            <p class="text-sm">NodeJS, MongoDB, AngularJS, Loopback, Sass, HTML5, CSS3</p>
            <p class="text-sm"><a href="http://uxnova.dk/?lang=en">UX Nova</a></p>
            <p class="text-xs">Nov 2015 - Apr 2016 (6months)</p>
        </li>

        <li>
            <p class="text-lg font-bold">Web developer - Backend & Frontend developer Internship</p>
            <p class="text-sm">Javascript, MongoDB, NodeJS, ExpressJS, AngularJS</p>
            <p class="text-sm"><a href="https://wiredelta.com/">Wiredelta</a></p>
            <p class="text-xs">Aug 2015 - Oct 2015 (3months)</p>
        </li>
    </ul>


    <h2 class="h2">Education</h2>
    <ul class="space-y-1">
        <li>
            <p class="text-lg font-bold">Master of Science in Information studies</p>
            <p>Aalborg University</p>
            <p class="text-sm">2019 - 2021</p>
            <p class="text-sm">(R)</p>
        </li>

        <li>
            <p class="text-lg font-bold">Bachelor's degree in Software development</p>
            <p>Copenhagen School of Design & Technology</p>
            <p class="text-sm">2016 - 2017</p>
            <p class="text-sm">(Java, PHP, MySQL, SQL)</p>
        </li>

        <li>
            <p class="text-lg font-bold">Associate's Degree in Computer Science</p>
            <p>Business Academy Aarhus</p>
            <p class="text-sm">2013 - 2016</p>
            <p class="text-sm">(Java, C#, SWIFT)</p>
        </li>

        <li>
            <p class="text-lg font-bold">Electical and Electronics Engineering</p>
            <p>High school of Electronics</p>
            <p class="text-sm">2009 - 2013</p>
            <p class="text-sm">(C, Arduion, HTML, CSS )</p>
        </li>
    </ul>


    <h2 class="h2">Licenses & Certifications</h2>
    <ul class="space-y-0.5">
        <li>
            <p class="text-lg font-bold">Shaping with AngularJS</p>
            <p>Code School</p>
            <p class="text-sm">Issued 2015</p>
        </li>
        <li>
            <p class="text-lg font-bold">CCNA Expleration: Network Fundamentals</p>
            <p>CISCO</p>
            <p class="text-sm">Issued 2013</p>
        </li>
        <li>
            <p class="text-lg font-bold">Electrician § 21</p>
            <p>Ministry of Work - Slovakia</p>
            <p class="text-sm">Issued 2013</p>
        </li>

    </ul>

</div>
