---
layout: cv.njk
title: Daniel Rafaj
description: Daniel Rafaj is software engineer who focuses on simple, performant and boring technology.
keywords: daniel, rafaj, cv, resume, portfolio
---
<h1 class="h1">Daniel Rafaj</h1>

<div>
    <h2 class="h2">Work experience</h2>
    <ul>
        <li>
            <p>Fullstack developer - Backend, Frontend, DevOps, Maintance & Development</p>
            <p><a href="http://indsigt.design/">Indsigt design</a></p>
            <p>Jan 2017 - Present </p>
            <p>NodeJS, PHP, Purescript, JAMstack, React, MySQL, PostgreSQL, Lambda - serverless, DevOps, NextJS,eleventy</p>
        </li>

        <li>
            <p>Fullstack developer - Backend, Frontend, DevOps</p>
            <p><a href="https://collageofficial.com">COLLAGE (We Own It ApS)</a></p>
            <p>Jan 2017 - Present </p>
            <p>NodeJS, Elasticsearch, Python, Redis, MongoDB, ReactJS, AWS S3, Lambda, Jest, ExpressJS, NextJS, UNIX Tools </p>
        </li>

        <li>
            <p>Web developer - Backend & Frontend developer</p>
            <p><a href="http://www.mearto.com/en/">Mearto</a></p>
            <p>Jun 2016 - Jan 2017 (8months)</p>
            <p>NodeJS, Python, Loopback, PostgreSQL, Jade(Pug), Elasticsearch</p>
        </li>

        <li>
            <p>Web developer - Backend & Frontend developer - Project based</p>
            <p><a href="http://uxnova.dk/?lang=en">UX Nova</a></p>
            <p>Nov 2015 - Apr 2016 (6months)</p>
            <p>NodeJS, MongoDB, AngularJS, Loopback, Sass, HTML5, CSS3</p>
        </li>

        <li>
            <p>Web developer - Backend & Frontend developer Internship</p>
            <p><a href="https://wiredelta.com/">Wiredelta</a></p>
            <p>Aug 2015 - Oct 2015 (3months)</p>
            <p>Javascript, MongoDB, NodeJS, ExpressJS, AngularJS</p>
        </li>
    </ul>


    <h2 class="h2">Education</h2>
    <ul>
        <li>Aalborg University - Master of science in Information studies, 2019-2021 (R)</li>
        <li>Copenhagen School of Design & Technology - Bachelor's degree in Software development, 2016-2017 (Java, PHP, MySQL, SQL)</li>
        <li>Business Acadey Aarhus - Associate's Degree in Computer Science, 2013-2016 (Java, C#, SWIFT)</li>
        <li>High school of Electronics - Electrical and Electronics Engineering, 2009-2013 (C, Arduino, HTML, CSS)</li>
    </ul>


    <h2 class="h2">Licenses & Certifications</h2>
    <ul>
        <li>Shaping with AngularJS by Code School - Issued 2015</li>
        <li>CISCO - CCNA Exploration: Network Fundamentals - Issued 2013</li>
        <li>Electrician § 21 - Issued 2013</li>
    </ul>

</div>
